@use '_fonts';
@mixin box($border: #dfdfdf) {
	width: 29px;
	height: 28px;
	border: 2px solid $border;
	position: relative;
	font-family: fonts.$inter;
	font-size: 24px;
	margin: 0 5px;
	&:hover {
		&::before {
			text-align: center;
			content: '\2713';
			position: absolute;
			color: $border;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
@mixin todo-text($textColor: black) {
	color: $textColor;
	position: relative;
	width: 80%;
	font-family: fonts.$inter;
	font-size: 24px;
	font-weight: 300;
}
@mixin alignedBox($border: #dfdfdf) {
	background-color: white;
	position: relative;
	top: 0;
	width: 100%;
	min-height: 65px;
	justify-content: space-evenly;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border-bottom: 1px solid $border;
	box-sizing: border-box;
}
.todo {
	@include alignedBox;
	&:hover {
		.todo__delete {
			visibility: visible;
		}
	}
}
.todo__box {
	@include box;
}
.todo__box--checked {
	@include box($border: #71f2a5);
	position: relative;
	&::before {
		text-align: center;
		content: '\2713';
		color: #71f2a5;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&:hover {
		border-color: black;
		&::before {
			text-align: center;
			content: '\2713';
			color: #dfdfdf;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
.todo__desc {
	@include todo-text;
}
.todo__desc--strike {
	@include todo-text($textColor: rgba(0, 0, 0, 0.35));
	text-decoration: line-through;
}
.todo__delete {
	visibility: hidden;
	color: #d65959;
	font-family: fonts.$inter;
	font-size: 24px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
