@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
.todo {
  background-color: white;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 65px;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
}
.todo:hover .todo__delete {
  visibility: visible;
}

.todo__box {
  width: 29px;
  height: 28px;
  border: 2px solid #dfdfdf;
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 24px;
  margin: 0 5px;
}
.todo__box:hover::before {
  text-align: center;
  content: "✓";
  position: absolute;
  color: #dfdfdf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.todo__box--checked {
  width: 29px;
  height: 28px;
  border: 2px solid #71f2a5;
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 24px;
  margin: 0 5px;
  position: relative;
}
.todo__box--checked:hover::before {
  text-align: center;
  content: "✓";
  position: absolute;
  color: #71f2a5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.todo__box--checked::before {
  text-align: center;
  content: "✓";
  color: #71f2a5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.todo__box--checked:hover {
  border-color: black;
}
.todo__box--checked:hover::before {
  text-align: center;
  content: "✓";
  color: #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.todo__desc {
  color: black;
  position: relative;
  width: 80%;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.todo__desc--strike {
  color: rgba(0, 0, 0, 0.35);
  position: relative;
  width: 80%;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-decoration: line-through;
}

.todo__delete {
  visibility: hidden;
  color: #d65959;
  font-family: Inter, sans-serif;
  font-size: 24px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.filter {
  background-color: white;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 65px;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 2.5%;
}

.filter__button {
  margin: 2px 5px;
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
.filter__button:hover {
  border-color: black;
}

.filter__text {
  width: 20%;
}

.filter__button--active {
  margin: 2px 5px;
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
}
.filter__button--active:hover {
  border-color: black;
}

.filter__buttonDiv {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  justify-content: center;
}

.filter__complete {
  width: 20%;
}

.formTop {
  background-color: white;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 65px;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
}

.formTop__toggle--active {
  transform: rotate(90deg);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.formTop__toggle {
  transform: rotate(90deg);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

.form {
  position: relative;
  width: calc(100% - 80px);
}

.form__input {
  position: relative;
  width: 100%;
  font-style: italic;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 200;
  border: none;
}
.form__input:focus {
  outline-color: rgba(0, 0, 0, 0.4);
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

body {
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: center;
}

.header__text {
  font-family: Inter, sans-serif;
  font-weight: 200;
  font-size: 80px;
  line-height: 24px;
  margin-top: 72px;
  color: #000;
}

.content {
  width: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__todos {
  width: 100%;
  margin: auto;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (min-width: 650px) {
  .content {
    width: 627px;
  }

  .header__text {
    font-size: 100px;
    line-height: 32px;
    margin-top: 89px;
  }
}
